node_modules/*
.build/*
.settings/*

/.build
/.idea
/.settings
/node_modules
/public/templates/HTMLPage.html
/screenshot.png
*.njsproj
*.dll
/iisnode
/obj
*.picasa.ini
/public/images/photography/gallery/.picasaoriginals