
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

html{
    height: 100%;
}
body {
	padding-bottom: 30px;
    font-family: 'Poiret One', cursive;
    font-size: 13px;
	font-style: normal;
	font-weight: 200;
    min-height: 100%;
    position: relative;
    text-align: center;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    color: white;
}
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2%;
    background-color: black;
    color: #FFFFFF;
    z-index: 200;
}

header {
    height: 640px;
    background-image: url('../images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: black;
    background-size: cover;
}

legend {
    width:inherit;
    padding:0 10px;
    border-bottom:none;
    margin-bottom: 5px;
}

.badge {
    font-size: 16px;
    line-height: 2;
}
.carousel-control {
    opacity: 1
}
.carousel-caption {
    color: white;
    font-size: 25px;
}
.floatright {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}
.github-widget {
	padding-left: 150px;
    padding-right: 150px;
}
.item {
    margin: 15px;
}
.item > img {
    width: 100%;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    position: relative;
    color: bisque;
    font-size: x-large;
    font-weight: 900;
}

.jumbo {
    display: inline;
    font-size: 1.5em;
    font-weight: bolder;
}
.list-group-item {
    background-color: transparent;
}
.modal-body{
    padding:0px;
}
.modal-content {
    background-color: #1b1617;
}
.modal-header {
    padding-left: 50px;
}
.modal-title {
    font-weight: bold;
}
.page-section {
	width: 100%;
	min-height: 640px;
	padding: 10px 0;
    color: bisque;
    font-size: 14px;
}
.page-heading {
    padding: 20px;
    font-family: 'Poiret One', cursive;
}

.panel {
    background-color: transparent;
    border: none;
}
.panel-heading {
    background-color: #372d2e;
    color: bisque;
} 
.panel-footer {
    background-color: #372d2e;
    color: bisque;
}
.row {
    margin-top: 10px;
}

.thumbnail {
    width: 100%;
}
.tiny {
    font-size: .75em;
    font-weight: lighter;
}

#contact-me {
    width: 75%;
    height: auto;
    margin: auto; 
    overflow: hidden;  
    padding: 50px;
}
#instagram-logo {
    vertical-align: middle;
    display: block;
    z-index: 100;
    position: absolute;
    width: 250px;
    left: -30px;
    margin-top: -15px;
}
#intro {
    font-size: small;
    font-family: 'Comfortaa', cursive;
}
#about {
    width: 50%;
    padding: 150px 0 0 0;
}
#about a {
    color: bisque;
    text-decoration: overline;
    font-family: 'Poiret One', cursive;
}
#photography {
    color: bisque;
    background: #372d2e;
    /*background-image: url('../images/ripple.gif');
    background-repeat: no-repeat;
    background-size: cover;*/
}
#work {
    background-image:url('../images/rain-drops.gif');
}

/*---------------*/
/***** Sarah *****/
/*---------------*/

figure.effect-sarah {
	/*background: #42b078;*/
    display: inline-block;
}

figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
	/*text-align: left;*/
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.album-face {
    height: 320px;
}
#wrapper{
	width: 90%;
	max-width: 1100px;
	min-width: 300px;
	margin: 50px auto;
}

#columns{
	/* the column-count property easily splits the content of a div into 3 columns. it's not accepted by most browsers on its own, so it's a good idea to use this with all the appropriate prefixes */
	-webkit-column-count: 3;
	-webkit-column-gap: 15px;
	-webkit-column-fill: auto;
}

.pin{
	display: inline-block;
	background: #FEFEFE;
	//border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	column-break-inside: avoid;
	padding: 5px;
	/* let's give the background of the pins a little dimension by using a gradient */
	background: linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	transition: all .2s ease;
	cursor: pointer;
}

.pin > a > img{
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bttom: 15px;
	margin-bottom: 5px;
}

.pin > a > p{
	font-size: 13px;
	font-family: Helvetica, sans-serif;
	color: #333;
	margin: 0;
}

#columns:hover .pin:not(:hover){
	opacity: 0.4;
	/* this makes it so that when you hover over a pin, every pin EXCEPT the one that's hovere on gets a little less opaque */
}

/* a little responsive styling */
@media (min-width: 960px){
	#columns{
		-webkit-column-count: 4;
	}
}

@media (min-width: 1100px){
	#columns{
		-webkit-column-count: 5;
	}
}